[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
flake8 = "*"
ipython = "*"
pre-commit = "*"
codecov = "*"

[packages]
flask = "*"
gunicorn = "*"
flasgger = ">=0.9.2"

[requires]
python_version = "3.6"

[scripts]
server = "gunicorn -c gunicorn.py anteater:app"
style_check = "flake8"
test = "pytest tests --strict -vvl --cov=app --cov-report=term-missing --cov-fail-under=90"

[pipenv]
allow_prereleases = true
