[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
faker = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-mypy = "*"
isort = {version = "*",extras = ["pipfile"]}
mypy = ">=0.620"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
seed-isort-config = "*"
codecov = "*"

[packages]
flask = "*"
gunicorn = {version = "*",extras = ["gevent"]}
flasgger = ">=0.9.2"
peewee = ">=3.8.0"
peeweext = ">=0.7.0"
mysqlclient = "*"

[requires]
python_version = "3.6"

[scripts]
style_check = "flake8"
test = "pytest tests --strict -vvl --cov=app --cov-report=term-missing --cov-fail-under=90"

[pipenv]
allow_prereleases = true
